* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #696969; */
    background: #708090;

    /* background: -moz-linear-gradient(top, #250128 0%, #008b8b 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(40%, #250128),
        color-stop(100%, #008b8b)
    );
    background: -webkit-linear-gradient(top, #250128 0%, #008b8b 100%);
    background: -ms-linear-gradient(top, #250128 0%, #008b8b 100%);
    background: linear-gradient(to bottom, #250128 0%, #008b8b 100%); */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 40px;
    align-items: center;
    max-width: 960px;
    margin: 0 auto 30px;
    position: relative;
    margin-top: 50px;
}

.image_grid {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.image_title {
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-family: Raleway, sans-serif;
    text-decoration: none;
}
h1,
h2,
h3,
p {
    color: white;
    font-family: Raleway, sans-serif;
    text-decoration: none;
}
h1 {
    text-align: center;
    margin-top: 10px;
}
h2 {
    position: relative;
    top: 20px;
    left: 10px;
    text-align: center;
}
form {
    color: white;
    text-align: center;
    position: relative;
    left: 80px;
}

@media screen and (min-width: 40em) {
    .image_grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        min-height: inherit;
    }
}

.modal-wrapper {
    position: fixed;
    z-index: 9998;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: table;
    background: #708090;
    /* background: -moz-linear-gradient(top, #250128 0%, #008b8b 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(40%, #250128),
        color-stop(100%, #008b8b)
    );
    background: -webkit-linear-gradient(top, #250128 0%, #008b8b 100%);
    background: -ms-linear-gradient(top, #250128 0%, #008b8b 100%);
    background: linear-gradient(to bottom, #250128 0%, #008b8b 100%); */
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.popImage {
    max-height: 400px;
    max-width: 400px;
    display: inline-block;
    position: relative;
    right: 300px;
    border: 3px solid white;
}
.pop {
    /* width: 100%; */
    text-align: center;
    position: relative;
    right: 100px;
    top: 100px;
}
.modal-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-weight: 600;

    background-color: white;
    border: 3px solid blakc;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.commentSection {
    position: absolute;
    right: 200px;
    top: 35px;
}
.display_comments {
    position: absolute;
    top: 100px;
    right: 75px;
    overflow: scroll;
    height: 600px;
    width: 500px;
    border: 1px solid white;
    background: #708090;
    /* background: -moz-linear-gradient(top, #008b8b 0%, #250128 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(40%, #008b8b) color-stop(100%, #250128)
    );
    background: -webkit-linear-gradient(top, #008b8b 0%, #250128 100%);
    background: -ms-linear-gradient(top, #008b8b 0%, #250128 100%);
    background: linear-gradient(to bottom, #008b8b 0%, #250128 100%); */
}
.details {
    position: relative;
    right: 300px;
    top: 30px;
}
.comment_title {
    position: fixed;
    top: 80px;
}
#comments {
    border: 1px solid white;
}
#comment {
    padding: 5px;
    color: orange;
}
#commenter {
    padding: 5px;
    color: orange;
}

.description {
    font-size: 18px;
}

.moreImg {
    width: 100%;
    text-align: center;
}

.moreBtn {
    background-color: #185a58;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.arrow {
    color: white;
    position: fixed;
    top: 40%;
    border: 1px solid orange;
    border-width: 0 10px 10px 0;
    padding: 15px;
    margin: 20px;
    width: 50px;
    height: 50px;
}
.arrow.left {
    transform: rotate(135deg);
    left: 1vw;
}

.arrow.right {
    transform: rotate(-45deg);
    right: 1vw;
}
#upload_text {
    position: relative;
    left: 250px;
    top: 40px;
    width: 200px;
}
.submit-btn {
    background-color: #185a58;
    border: 2px solid white;
    color: white;
    padding: 5px 5px;
    /* margin: 2px 2px; */
    cursor: pointer;
    border-radius: 16px;
    width: 100px;
}
.footer {
    color: white;
    font-family: Raleway, sans-serif;
    margin: 20px;
    font-weight: bold;
}

/* .inputfile {
    width: 100px;
    height: 50px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
} */
